<%# get %>
<%# <form action="/contacts/create" method="get">
    Name : <input type="text" name="name">
    <br>
    Email : <input type="email" name="email">
    <br>
    Content : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit">
</form> %>



<%# post %>
<%# <%= form_tag "/contacts/create" do %> %>
    <%# Name : <input type="text" name="name">
    <br>
    Email : <input type="email" name="email">
    <br>
    Content : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit"> %>
<%# <% end %> %>

<%# 라우팅 후 %>
<%= form_tag contacts_path do %>
    Name : <input type="text" name="name">
    <br>
    Email : <input type="email" name="email">
    <br>
    Content : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit">
<% end %>