#wrap{
			border: 1px solid #cccccc;
			width: 1000px;
			margin: 0 auto;
		}
		#wrap #header{
			background-color: #ffff00;
			text-align: center;
			height: 200px;
		}
		#wrap #section{
			background-color: #084a2a;
			color: #ffffff;
			height: 300px;
		}
		#wrap #footer{
			background-color: #ffd800;
			height: 100px;
			text-align: center;
		}